<!DOCTYPE html>
<html>
  <head>
    <title>web</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<header class="text-center">
		<a class="title" href="/">Title</a>
	</header>
	<br>
	<div class="text-center">
		<input type="button" value=" 작성 " onclick=" location.href='/report'; ">
	</div>
  </body>
</html>
